@charset "utf-8";
#logmessge{
	text-align:center;
	margin-bottom:1%;
}
#nav{
	width:60%;
	margin:0 auto;
	margin-bottom:5%;
}
body{
	padding-bottom:5%;
	
	background:#80ffff;
}
#warp{
	width:60%;
	height:60%;
	border:1px solid #000;
	border-radius:5px;
	margin:0 auto;
}

